@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set default font to system sans-serif */
html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

body {
  @apply bg-bg-main text-text-primary;
}

/* Accessibility utility class */
.interact-target {
  min-height: 48px;
  min-width: 48px;
}